version: '3.7'

services:
  api:
    build: ./platform
    volumes:
      - ./platform:/platform
    ports:
      - "80:80"
    environment:
      PORT: 80
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_HOST: "db:5433" # Includes port number
    command: uvicorn main:app --host 0.0.0.0 --reload --port 80

  db:
    image: postgres
    restart: always
    expose:
    - "5433"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql

volumes:
  db_data:
    external: true
